
@font-face {
    font-family: 'Reem Kufi';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/reemkufi/v11/2sDPZGJLip7W2J7v7wQZZE1I0yCmYzzQtuZnIGaV3w.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  }
  * {
    font-family:'Reem Kufi', sans-serif;
  }
  html, body { 
    margin:0; padding:0;
  }

  svg { 
    position:absolute; top:0; bottom:0; left:0; right:0 
  }
  .yellowtxt {
    position: absolute;
    margin: auto;
    top: 15vw;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 2.8vw;
    line-height: 83%;
    text-align: center;
    color: #FFD600;
    text-shadow: 2px 2px 8px #ffd5008c;
    ;
  }
  .yellowombretxt {
    position: absolute;
    
    margin: auto;
    top: 24vw;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 7vw;
    line-height: 83%;
    text-align: center;
    text-align: center;
    background: -webkit-linear-gradient(#FFD600, #BCDAFF);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    
  }
  .about-me-txt {
    padding-top: 3vw;
  }
  h1 {
    color: #FFD600;
    font-size: 2vw;
    text-align: center;
  }
  p, ol {
    color: #ffffff;
    font-size: 1vw;
    padding: 0px 20vw 0px 20vw;
  }
  .bg {
    width: 100%;
    height: 86vw;
    left: 0px;
    top: 0px;
    background: linear-gradient(180deg, #143D6C, #4E5E96, #7a6281, #A98495);
	background-size: 400% 400%;
	animation: gradient 15s ease infinite;
	height: 100vh;
  }
  .circles {
    display: flex;
    position: relative;
    flex-flow: row norap;
    margin: auto;
    padding-top: 8vw;
    margin-bottom: 2vw;
    box-sizing: border-box;
    flex: none;
    width: 27vw;
    height: 27vw;
    border-radius: 50%;
  }
  .outcircle1 {
    background: #F8DB91;
    filter: blur(20px);
  }
  .incircle1 {
    background: #FFFFFF;
    filter: blur(1px);
    margin-left: -100%;
  }
  .navbar {
    z-index: 9;
    background-color: #143D6C;
    box-shadow: 1px 1px 10px #a9add9;
    height: 3.3vw;
    overflow: hidden;
    position: sticky;
    top: 0px;
    margin: 0;
    padding: 0;
  }
  ul {
    position: absolute;
    top:0.8vw;
    left:20%;
    list-style-type: none;
    margin-block-start: 0;
    margin-block-end: 0em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 0px;
}
  .navbar li {
    display:inline-block;
    vertical-align: top;
    list-style-type: none;
    margin: 0vw 3vw 0vw 3vw;
    font-size: 1vw;
    position:relative;
    border: 0.1vw solid white;
    border-radius: 9vw/10vw;
    background-color: #143D6C;
    box-shadow: 2px 2px 10px #0d233c;
    color:#eee;
  }
  .navbar li a {
    display:inline-block;
    text-decoration:none;
    color: white;
    padding: 0 2vw 0 2vw;
  }
  .mountain {
    position:relative;
    top:6vw;
    left:0;
  }
  .rect {
    position:relative;
    overflow: hidden;
    background: #09181D;
    width: 100%;
    height: 40vw;
    top: 17vw;
    background: linear-gradient(180deg, #09181D 0%, #0b1c22 100%);
  }

  /*bg keyframes*/
  @keyframes gradient {
    0% {
      background-position: 0% 0%;
    }
    20%{
      background-position: 0% 0%;
    }
    60% {
      background-position: 30% 30%;
    }
    80% {
      background-position: 60% 60%;
    }

    100% {
      background-position: 0% 0%;
    }
  }

body {
    -webkit-animation: bgcolor 20s infinite;
    animation: bgcolor 10s infinite;
    -webkit-animation-direction: alternate;
    animation-direction: alternate;
}

